<% layout("layout/boilerplate") %>
<% block("head").append('<link rel="stylesheet" href="/css/chat.css">') %>
<div class="chatbox">
    <div class="head">
        <%= receiver.username %>
        <p class="user-status"></p>
    </div>
    <div class="messages">
        <% if(messages.length==0){ %>
            <h2>You have no messages from this contact</h2>
        <% } %>

        <% for(let i=0;i<messages.length;i++){ %>
            <% if(messages[i].sender.equals(currUser._id)){ %>
                <div class="message send">
                    <p><%= messages[i].text %></p>
                    <p class="message-date" style="text-align: right;"><%= messages[i].messagedDate.toLocaleDateString() %>,<%= messages[i].messagedDate.toLocaleTimeString() %></p>
                </div>
            <% }else { %>
                <div class="message received">
                    <p><%= messages[i].text %></p>
                    <p class="message-date" ><%= messages[i].messagedDate.toLocaleDateString() %>,<%= messages[i].messagedDate.toLocaleTimeString() %></p>
                </div>
            <% } %>
        <% } %>
    </div>
</div>

<form class="message-box" method="POST" action="/chats/<%= currUser._id %>/<%= receiver._id %>/message">
    <textarea class="input-box" name="message[text]" placeholder="message" cols="30" rows="10"></textarea>
    <button class="message-btn"><i class="fa-solid fa-paper-plane"></i></button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket=io();
    const users=[];
    window.onload=()=>{
        socket.emit("new-user-add","<%=currUser._id%>");
        socket.on("get-active-users",(activeUsers)=>{
            for(let i=0;i<activeUsers.length;i++){
                users.push(activeUsers[i]);
                if(activeUsers[i].userID==="<%=receiver._id%>"){
                    let status=document.querySelector(".user-status");
                    status.innerHTML="online";
                }
            }
            
        })
    }
    socket.on("get-active-users",(activeUsers)=>{
        users=[];
        for(let i=0;i<activeUsers.length;i++){
            users.push(activeUsers[i]);
            if(activeUsers[i].userID==="<%=receiver._id%>"){
                let status=document.querySelector(".user-status");
                status.innerHTML="online";
            }
        }
        
    })

    function findSocketID(userID){
        for(let i=0;i<users.length;i++){
            if(users[i].userID===userID){
                return users[i].socketID;
            }
        }
    }

    const messageBox=document.querySelector(".message-box");
    messageBox.addEventListener("submit",(event)=>{
        let userSocketID=findSocketID("<%=receiver._id%>");
        socket.emit("messageSend","<%=receiver._id%>")
        console.log("message is send");
    });


    socket.on("messageReceive",(receiverID)=>{
        if(receiverID==="<%=currUser._id%>"){
            location.reload();
        }        
    });


</script>
<% block("footer").append('<script src="/script/chat.js"></script>') %>



