<% layout("layout/boilerplate") %>

<div class="posts">
    <% for(let i=0 ;i<posts.length;i++){  %>
            <div class="post">
                <div class="post-image">
                    <a href="/posts/<%=posts[i]._id%>">
                        <img src="<%= posts[i].image.url%>" alt="<%= posts[i].image.filename %>">
                    </a>
                </div>
                <div class="post-info">
                    <a href="/user/<%=posts[i].owner._id%>">  
                       <span class="post-owner">
                            <% if(posts[i].owner.profileImage && posts[i].owner.profileImage.url){ %>
                                <img src="<%= posts[i].owner.profileImage.url %>" class="owner-profile-pic" alt="imagenotfound">
                            <% }else{ %>
                                <img src="https://i.pinimg.com/564x/ad/73/1c/ad731cd0da0641bb16090f25778ef0fd.jpg" class="owner-profile-pic" alt="imagenotfound">
                            <% } %>
                            <b ><%= posts[i].owner.username %></b> 
                            <br>
                       </span>
                    
                    </a>
                    <a href="/posts/<%=posts[i]._id%>">
                        <p> <b> <%= posts[i].title %> </b></p>
                        <p>  <%= posts[i].description %> </p>
                    </a>    
                    <div class="post-details"> 
                        <div class="post-likes"> 
                            &nbsp; 
                            <% if(!currUser){ %>
                                <form method="POST" action="/posts/<%= posts[i]._id%>/like?_method=PUT">
                                    <button class="post-like-btn">
                                        <i class="fa-regular fa-heart"></i>
                                        <input style="display: none;" type="text" value="<%= currUrl %>" name="currUrl">
                                    </button>
                                </form>
                            <% }else if( !posts[i].likedIDs.includes(currUser._id)){ %>
                                <form method="POST" action="/posts/<%= posts[i]._id%>/like?_method=PUT">
                                    <button class="post-like-btn">
                                        <i class="fa-regular fa-heart"></i>
                                        <input style="display: none;" type="text" value="<%= currUrl %>" name="currUrl">
                                    </button>
                                </form>
                            <% } else { %>
                                <form method="POST" action="/posts/<%= posts[i]._id%>/dislike?_method=PUT">
                                    <button class="post-like-btn">
                                        <i class="fa-solid fa-heart" style="color: red;"></i>
                                        <input style="display: none;" type="text" value="<%= currUrl %>" name="currUrl">
                                    </button>
                                </form>
                            <% } %>
                            
                            <p class="post-likes-count">&nbsp;<%= posts[i].likedIDs.length %></p> 
                        </div> 
                        <p class="post-created">  
                            <%= posts[i].createdDate.toLocaleDateString() %> ,<%= posts[i].createdDate.toLocaleTimeString() %> 
                        </p> 
                    </div>
                </div>
            </div>    
    <% } %>
</div>