<% layout("layout/boilerplate.ejs") %>
<% block('head').append('<link rel="stylesheet" href="/css/singlepost.css">') %>

<div class="single-post">
    <img src="<%= post.image.url %>" alt="<%= post.image.filename %>" class="singlepost-image">
    <a href="/user/<%= post.owner._id %>"> <%= post.owner.username %> </a>
    <p> <b> <%= post.title %> </b></p>
    <p>  <%= post.description %> </p>
    <div class="post-likes"> 
        <b>Likes:</b> &nbsp; 
        <% if(!currUser){ %>
            <form method="POST" action="/posts/<%= post._id%>/like?_method=PUT">
                <button class="post-like-btn">
                    <i class="fa-regular fa-heart"></i>
                    <input style="display: none;" type="text" value="<%= currUrl %>" name="currUrl">
                </button>
            </form>
        <% }else if( !post.likedIDs.includes(currUser._id)){ %>
            <form method="POST" action="/posts/<%= post._id%>/like?_method=PUT">
                <button class="post-like-btn">
                    <i class="fa-regular fa-heart"></i>
                    <input style="display: none;" type="text" value="<%= currUrl %>" name="currUrl">
                </button>
            </form>
        <% } else { %>
            <form method="POST" action="/posts/<%= post._id%>/dislike?_method=PUT">
                <button class="post-like-btn">
                    <i class="fa-solid fa-heart" style="color: red;"></i>
                    <input style="display: none;" type="text" value="<%= currUrl %>" name="currUrl">
                </button>
            </form>
        <% } %>
        
        <p class="post-likes-count">&nbsp;<%= post.likedIDs.length %></p> 
    </div> 
    <p> <%= post.createdDate.toLocaleDateString() %> , <%= post.createdDate.toLocaleTimeString() %> </p>

    <div class="single-post-btns">
        <form method="POST" action="/posts/<%=post._id%>?_method=DELETE">
            <button class="post-delete-btn">Delete</button>
        </form>
        <a class="post-edit-btn" href="/posts/edit/<%= post._id %>">Edit Post</a>
    </div>

    <br>
    
    <form class="review-form" method="POST" action="/review/<%= post._id %>">
        <label class="comment-label" for="comment">Write a review:</label>
        <br><br>
        <textarea name="review[comment]" id="comment" class="comment" rows="4" required></textarea>
        <br>
        <button class="review-submit">SEND</button>
    </form>
    <br><br>
    <% if(post.reviews.length) {%>
        <div class="reviews">
            <% for(let i=0;i<post.reviews.length;i++){ %>
                <div class="review">
                    <a href=""> <%= post.reviews[i].owner.username %> </a><br>
                    <%= post.reviews[i].comment %>
                    <br>
                    <div class="review-btns">
                        <form method="POST" action="/review/<%= post._id %>/<%=post.reviews[i]._id%>?_method=DELETE">
                            <button class="review-delete">Delete</button>
                        </form>
                        <a href="/review/edit/<%= post._id %>/<%= post.reviews[i]._id%>" class="review-edit">Edit</a>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>

</div>
